* {box-sizing: border-box;}

body {
  background-color: #1b1b1b;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 20px 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main>h3 {
  color: #ff9800;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

main>h1 { color: #ff3939; font-family: 'Lobster', cursive; text-align: center;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editor {  
  display: flex;
  width: 100%;
  position: relative;
  border: 1px solid #000;
  font-size: 14px !important;
  margin-bottom: 20px;
  border-radius: 7px;
  overflow: hidden;
  font-family: Consolas;
}

.live-editor {
  position: relative;
  background: #2f2f2f;
  padding: 10px;
}

textarea {outline: none !important;}

.live-editor button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgb(22, 22, 22);
  color: #fff;
  border: inherit;
  padding: 5px 10px;
  font-size: 11px;
  border-radius: 7px;
  cursor: pointer;
  transition: opacity .25s;
  text-transform: uppercase;
}

.live-editor button:hover {opacity: 0.8;}

.live-error {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  background-color: #ff3939;
  overflow: auto;
}

.editor>* {  
  width: 50%;
}

pre , code{margin: 0 !important; border-radius: 0 !important;}

footer {
  padding: 20px;
  text-align: center;
}

.live-preview {
  padding: 10px;
}

.d-flex {display: flex;}

.txt-center {text-align: center;}

.mt-0 {margin-top: 0;}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(145, 145, 145);
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

@media screen and (max-width: 600px) {
  main {
    padding: 20px;
  }
}