* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editor {
  display: flex;
  height: 100vh;
  width: 100%;
}

pre {margin: 0 !important;}

.live-error {
  height: 170px;
  width: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #2f3129;
  color: #fff;
  border-top: 2px solid rgb(26, 27, 24);
  border-left: 2px solid #fff;
  padding: 10px 20px;
  overflow: auto;
}

.editor>* {
  width: 50%;
  height: 100%;
}

.d-flex {display: flex;}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(145, 145, 145);
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}