* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.live-react {
  display: flex;
  height: calc(100vh - 150px);
  width: 100%;
}

pre {
  margin: 0;
  height: 150px;
  width: 100%;
  background-color: #ff4d4d;
  color: #fff;
  padding: 10px 20px;
  overflow: auto;
}

.live-react>* {
  width: 50%;
  height: 100%;
}

